.about-me-container{
    
    justify-content: center;
    margin:0;
    padding:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#e8e6e6;
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.h1{
    font-size:36px;
    margin-left:100px;
    text-align:center;
}