
.navbar{
  width:100%;
  padding:18px 28px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background: linear-gradient(90deg, rgba(6,11,27,0.6), rgba(11,16,28,0.2));
  /* backdrop-filter: blur(6px); */
  position:sticky;
  top:0;
  z-index:40;
}

.logo{font-weight:700;font-size:22px;color:#ffffff}

nav a{margin-left:28px;text-decoration:none;color:var(--muted);font-weight:600;padding:8px;border-radius:8px;transition:all .18s}
nav a:hover{color:white;background:var(--glass);transform:translateY(-2px)}

@media (max-width:720px){
  nav{display:none}
}