
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.navbar {
  width: 100%;  
  height: 70px;        
  box-sizing: border-box;
  padding: 14px 40px;  
  /* backdrop-filter: blur(8px); */
  box-shadow: 0 2px 6px rgba(9, 9, 9, 0.08);
  display: flex;
  justify-content: space-between;
  font-family: system-ui, sans-serif;
  background-color: #b5b3b3;
  
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #222;
}

nav a {
  margin-left: 75px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color .3s;
  padding: 8px;
}

nav a:hover { color: #0077ff; }