

.profile-image {
  /* margin-left:200px;  */
  margin-right:100px;
  margin-top:100px;
}

.main-content {
  display: flex;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.intro-text {
  margin-left: 200px;
  margin-top: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro-text h1 {
  font-size: 48px;
  margin: 0;
  color: #333;
}